*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
   padding: 10px;
    width: 200px;
    display: fixed;
}
.sidebar .list-infor{
    list-style: none;
}
.sidebar .list-infor .list-item{
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    transition: .3s;
    cursor: pointer;
    color: gray;
}
.sidebar .list-infor .list-item i{
    margin-left: 20px;
   font-size:larger;
}
.sidebar .list-infor .list-item span{
    margin-left: 10px;
    font-size: large;
    font-weight: 500;
}
.sidebar .list-infor .list-item:hover{
    background-color: rgba(255, 0, 0, 0.767);
    color: white;
}